<!-- Main Header -->
<header class="main-header">
	<!-- Logo -->
	<a href="#" routerLink="/" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
		<span  class="logo-lg">
			<img style="height: 34px;" src="/public/assets/img/spenn-logo.PNG">
			Spenn
		</span> <!-- logo for regular state and mobile devices -->
		<!--<span class="logo-lg"><b>Spenn</b></span>-->
	</a>
	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
			role="button"> <span class="sr-only">Toggle navigation</span>
		</a>
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav" >
				<!-- Messages: style can be found in dropdown.less-->
				<li class="dropdown messages-menu messagesBox"></li>
				<!-- Notifications Menu -->
				<li class="dropdown notifications-menu notificationsBox"></li>
				<!-- Tasks Menu -->
				<li class="dropdown tasks-menu tasksBox"></li>
				<!-- User Account Menu -->
				<li class="dropdown user user-menu userBox"></li>
				<!-- Control Sidebar Toggle Button -->
				<li><a href="#" data-toggle="control-sidebar"
					class="toggle-sidebar-right"><i class="fa fa-gears"></i></a></li>
			</ul>
			<ul class="nav navbar-nav" *ngIf="auth.isAuthenticated()">
				<li><a href="#" (click)="auth.login()"><i
						class="fa fa-sign-in"></i> Login</a></li>
			</ul>
		</div>
	</nav>
</header>
