
<div class="">
	<img src="/public/assets/img/Test-Ambassador-model-BOXED-1-500x655.png" />
</div>


	<!--home works!-->

	<!--<alert type="info">Hello from ng2-bootstrap {{-->
	<!--date.toDateString() }}</alert>-->

	<!--<datepicker [(ngModel)]="date" showWeeks="true"></datepicker>-->
