<!-- Main Footer -->
<footer class="footer" role="contentinfo">
	<div class="container">
		<div class="footer-widgets row">
			<div class="footer-area-1 col-md-4 col-sm-6">
				<section class="widget text-1 widget_text"><div class="widget-inner"><h3 class="widget-title">About Blockbonds</h3>			<div class="textwidget"><p>SPENN is a product developed and owned by Blockbonds AS. Blockbonds strives to democratize the access to financial markets for everyone in the world, by bridging the cryptosphere with traditional finance. By democratizing access, we are on the right track to create a world of equal opportunities for everyone.</p>
				</div>
				</div></section>                    </div>
			<div class="footer-area-2 col-md-4 col-sm-6">
				<section class="widget text-2 widget_text"><div class="widget-inner"><h3 class="widget-title">Careers</h3>			<div class="textwidget"><p>We are currently in the final stages of development, and are planning to launch in the Philippines later this year. In that regard we are currently building a team to run operations in the Philippines. Our office will be located central in Manila. If you would like to join us on this journey, feel free to reach out to careers@blockbonds.io</p>
				</div>
				</div></section>                    </div>
			<div class="footer-area-3 col-md-4 col-sm-6">

				<section class="widget widget-social">
					<div class="widget-inner">
						<h3 class="widget-title">Connect With Us</h3>
						<div class="soc-widget">
							<a target="_blank" href="https://www.facebook.com/SPENNapp"><i class="soc-icon social social-facebook"></i></a><a target="_blank" href="https://www.instagram.com/spennwallet/"><i class="soc-icon social social-instagram"></i></a>           			</div>
					</div>
				</section>

			</div>
			<div class="footer-area-4 col-md-4 col-sm-6">
			</div>
		</div>
	</div>
	<div class="footer-btm-bar">
		<div class="container">
			<div class="footer-copyright row">
				<div class="col-xs-12">
					<p><span class="footer_copy">&nbsp;© 2016 Blockbonds AS</span> - <span class="footer_credit">Product by <a target="_blank" href="http://blockbonds.io/">Blockbonds</a></span></p>
				</div>
			</div>
		</div>
	</div>
</footer>
